@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Lora',serif;
	font-size: 1.1em;
	line-height: 1.5em;
}

header {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	background: url("../images/books.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 705px;
}

h1{

	margin-top: 250px;
	text-align: center;
	color: white;
	font-family: 'Lora',serif;
	font-size: 3em;
	letter-spacing: .3em;
	text-shadow: 0 1px 10px #2F4F4F;
}

#main {
	position: absolute;
	bottom: 330px;
	left: 42.7%;
	background-color: rgba(0,0,0,0);
	border: 2px solid #eee;
	color: #fff;
	padding: 0.5em  2em;
	font-size: 1.2em;
	box-shadow: 0 0 10px #214141;
	text-shadow: 0 1px 3px #000;
	transition = background-color .5s ease;
	-webkit-transition = background-color .5s ease
	-moz-transition = background-color .5s ease;
	-o-transition = background-color .5s ease;
}

#main:hover {
	cursor: pointer;
}

section {
	margin: 0 auto;
	padding: 3em 5em 1em 3em;
	text-align: center justify;
}

h2 {
	font-size: 2.5em;
	font-family: 'Montserrat',sans-serif;
}

#one,#two{
	border-bottom: 2px solid white;
}

.down {
	vertical-align: baseline;
	position: absolute;
	bottom: 20px;
	left: 45%;
	opacity: 0.7;
}

.member {
	position: relative;
	margin: 0 auto;
	padding: 0 .5em;
	vertical-align: baseline;
	display: inline-block;
	text-align: center;
	font-family: 'Lora',serif;
	font-size: 1em;
}

.hd {
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	background-size: contain;
	background-position: center;
	border-radius: 500px;
	background: url("../images/hd.jpg");
	padding: 5em;
}

.kk {

	width: 50px;
	height: 50px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	background-size: contain;
	background-position: center;
	border-radius: 500px;
	background: url("../images/kk.jpg");
	padding: 5em;
}

.kl {
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	background-size: contain;
	background-position: center;
	border-radius: 500px;
	background: url("../images/kl.jpg") no-repeat;
	padding: 5em;
}

.ss {
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	background-size: contain;
	background-position: center;
	border-radius: 500px;
	background: url("../images/ss.jpg");
	padding: 5em;
}

.aj {
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	background-size: contain;
	background-position: center;
	border-radius: 500px;
	background: url("../images/aj.jpg");
	padding: 5em;
}

footer {
	background: #2F343F;
	margin-top: 5em;
	padding: 2em;
	text-align: center;
	color: #eee;
	font-family: 'Lora',sans-serif;
	font-weight: lighter;
}

.link {
	text-decoration: none;
	color: #ccc;
}