@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
    box-sizing: border-box;
}

body{
	margin: 0;
	padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 30px;
    width: 100%;
    display: inline-block;
}

.data {
	padding-left: 40px;
	padding-right: 40px;
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

p {
	font-family: 'Lora',serif;
	line-height: 1.5em;
	text-align: justify;
}

h1{
	margin: 0 auto;
	margin-top: 5vw;
	text-align: center;
	font-size: 6em;
	font-weight: bold;
	font-family: 'Montserrat',serif;
	background-image: url("../images/desk.jpg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


h2 {
	margin: 0 auto;
	text-align: center;
	font-family: 'Montserrat',sans-serif;
	font-weight: lighter;
	background-image: url("../images/desk.jpg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

footer {
	text-align: center;
	font-family: 'Lora',sans-serif;
	font-weight: lighter;
	padding: 10px;
}

a {
	margin: 0 auto;
	text-decoration: none;
	border-bottom: 1px dotted #333;
	font-style: bold;
	color: #000;
	-webkit-transition: all 0.3s ease-in-out ;
	-moz-transition: all 0.3s ease-in-out ;
	-ms-transition: all 0.3s ease-in-out ;
	-o-transition: all 0.3s ease-in-out ;
	transition: all 0.3s ease-in-out ;
}
a:hover {
	color: tomato;
	border-bottom: 1px dotted tomato;
}
a:focus {
	outline: none;
}
.link {
	text-align: center;
	margin-top: 20px;
	font-size: 1.5em;
}